<div class="jumbotron">
  <h1>Defined Code Ltd - Hosting</h1>
  <p>Welcome to the Virtual Machine manager, if you're a customer then sign in below.</p>
  <p>If you have recently deleted your twitter account then please email mail@definedcode.com</p>
  <p>For all other hosting enquiries email mail@definedcode.com</p>
  <p>
    <a class="btn btn-lg btn-primary" href="http://hub.definedcode.com:4567/auth/twitter" role="button">Login with twitter</a>
  </p>
</div>
